html,body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'futura_md_btmedium';
    -webkit-font-smoothing:antialiased;
} 

.wrapper {
	width: 90%;
	max-width: 1366px;
	padding: 0;
    margin: 0 auto;
}

h1 {	
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	/*margin-bottom: 3px !important;
	font-size: 35px !important;*/
	font-family: 'futura_hv_btheavy' !important;
	text-transform: uppercase;
}

h2 {	
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	/*font-size: 30px !important;*/
	font-family: 'futura_md_btmedium' !important;
	text-transform: uppercase;
}

h3 {	
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

p {
	color: #2a2a2a;
	font-size: 18px;
	line-height: 35px;
	font-family: 'futura_lt_btlight' !important;
}

a:hover, a:focus {
    color: #106ca8;
}

.no_pad {
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.no_margin {
	margin-right: 0px !important;
    margin-left: 0px !important;
}

.cursor {
	cursor: pointer;
}

.dib {
	display: inline-block !important;
}

.db {
	display: block !important;
}

.df {
	display: flex !important;
	align-items: center;
}

.italic {
	font-style: italic;
}

.futura_bk_btbook {
	font-family: 'futura_bk_btbook' !important;
}

.futura_md_btmedium {
	font-family: 'futura_md_btmedium' !important;
}

.futura_lt_btlight {
	font-family: 'futura_lt_btlight' !important;
}

.futura_lt_btlight_italic {
	font-family: 'futura_lt_btlight_italic' !important;
}

.futura_hv_btheavy {
	font-family: 'futura_hv_btheavy' !important;
}

.futura_md_btbold_italic {
	font-family: 'futura_md_btbold_italic' !important;
}

.futura_bdcn_btbold {
	font-family: 'futura_bdcn_btbold' !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-22 {
    font-size: 22px !important;
}

.font-size-24 {
    font-size: 24px !important;
}

.font-size-26 {
    font-size: 20px !important;
}

.font-size-28 {
    font-size: 28px !important;
}

.font-size-30 {
    font-size: 30px !important;
}

.font-size-35 {
    font-size: 35px !important;
}

.font-size-50 {
    font-size: 50px !important;
}

.font-size-60 {
    font-size: 60px !important;
}

.font-size-80 {
    font-size: 80px !important;
}

.font-size-96 {
    font-size: 96px !important;
}

.font-size-100 {
    font-size: 100px !important;
}

.font-500 {
	font-weight: 500;
}

.m-tb-40 {
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

.m-t-35 {
	margin-top: 33px;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-b-70 {
	margin-bottom: 70px !important;
}

.p-tb-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}

.p-tb-30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.p-tb-60 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.p-tb-80 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.p-b-30 {
	padding-bottom: 30px;
	margin-top: 0;
	padding-top: 0;
}

.p-b-70 {
	padding-bottom: 70px;
}

.p-b-80 {
	padding-bottom: 80px;
}

.p-t-30 {
	padding-top: 30px;
}

.p-t-50 {
	padding-top: 50px;
}

.p-t-60 {
	padding-top: 60px;
}

.p-t-80 {
	padding-top: 80px;
}

.p-t-100 {
	padding-top: 100px;
}

.p-t-120 {
	padding-top: 120px;
}

.bg-gray {
	background: #e6e5e5;
}

.bg-light-gray {
	background: #e3e2e3;
}

.bg-gray-globally {
	background: #f6f5f5;
}

.bg-pink {
	background: #af275f;
}

.footer-bg {
	background: #cfcecf;
}

.bg-pink-gradient {
	background: rgb(174,39,95); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(174,39,95) 0%, rgb(198,23,96) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(174,39,95) 0%,rgb(198,23,96) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(174,39,95) 0%,rgb(198,23,96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae275f', endColorstr='#c61760',GradientType=1 ); /* IE6-9 */
}

.box-shadow {
    box-shadow: 0 8px 16px 0 rgba(76,76,76, 0.19), 0 6px 20px 0 rgba(76,76,76, 0.19);
}

.color-gray {
	color: #b8b8b8;
}

.color-gray-dark {
	color: #abaaaa;
}

.color-pink {
	color: #f762a1;
}

.color-dark-pink {
	color: #ae275f;
}

.color-light-pink {
	color: #af275f;
}

.color-pink-bold {
	color: #af2660;
}

.color-blue {
	color: #2365a6;
}

.color-dark-blue {
	color: #235baf;
}

.color-black {
	color: #1a1a1a;
}

.color-medium-black {
	color: #080808;
}

.color-dark-black {
	color: #202020;
}

.color-white {
	color: #fff;
}

.main-heading{font-size: 41.67px;font-family: 'futura_md_btmedium' !important;}
.sub-text{font-size: 22.22px;font-family: 'futura_lt_btlight' !important;}

@media screen and (max-width: 767px) {
	h1{font-size: 18px !important;}
	h2{font-size: 16px !important;}
	p{font-size: 14px !important;line-height: 22px;}
}


