/* Responsive MENU Style */
#header{width:100%;height:56px;/*background:#28253c;*/z-index:9996}
@media only screen and (max-width: 959px) {
#header{/*position:fixed;*/ position: relative; will-change:transform;top:-2px;height:42px;box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .2);}
}
#nav{margin:0 250px 0 20px;color:#777;list-style:none;padding:0}
#logo{float:left;padding:0 20px 0 0}
#logo img{height:0}
#logo a,#logo span{display:block;width:132px;height:56px;background-repeat:no-repeat;background-position:0 50%;background-image:url(../images/logo_mob.png);-webkit-transition:opacity .2s ease;-moz-transition:opacity .2s ease;-o-transition:opacity .2s ease;transition:opacity .2s ease}
@media (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 2),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
#logo a,#logo span{background-image:url(../images/logo_mob.png);-webkit-background-size:132px 35px;-moz-background-size:132px 35px;background-size:132px 35px}
}
#logo a:hover{opacity:.6}
@media only screen and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (min--moz-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (-o-min-device-pixel-ratio: 3 2),only screen and (max-width: 959px) and (min-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (min-resolution: 1.5dppx) {
.toggle-nav{background-image:url('../images/menu.png');-webkit-background-size:19px 14px;-moz-background-size:19px 14px;background-size:19px 14px}
}
#nav{margin:0 250px 0 20px;color:#777}
#nav>li{float:left;font-size:14px;line-height:1}
#nav>li>a{display:block;height:56px;padding:0 10px;line-height:56px;text-decoration:none;color:#999}
@media only screen and (max-width: 959px) {
#nav>li>a{padding-left:6px;padding-right:6px}
}
#nav li#sub-menu>a{opacity:.5}
#nav li#sub-menu>a span{display:block;text-indent:-9999px;padding-left:22px;background-repeat:no-repeat;background-position:0 50%;background-image:url(/assets/icon-more-dots-8624bddd5cc1950979b7c8dc571cf95d0e314600a9f8e43d99a17b57877808b6.png)}
@media (-webkit-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3 2),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx) {
#nav li#sub-menu>a span{background-image:url(/assets/icon-more-dots-2x-457f0525bcc2cff9d60847a8b550b960c0b9ed83dfd84211133070dc732b40da.png);-webkit-background-size:22px 16px;-moz-background-size:22px 16px;background-size:22px 16px}
}
#nav li#sub-menu:hover>a{opacity:.83}
#nav li:hover>a,#nav li>a:hover{color:#ddd}
#nav li>a:active{color:#fff}
#nav li ul.tabs{position:absolute;display:none;float:left;width:180px;margin-left:-5px;padding:0 0 10px;background:rgba(47,47,47,0.98);border-radius:6px;border-top-left-radius:0;border-top-right-radius:0;box-shadow:1px 1px 1px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;z-index:999}
#nav li ul.tabs ul li{padding:0 0 0 5px}
#nav li ul.tabs li{clear:left;margin:0;width:100%}
#nav li ul.tabs li.separate{margin:4px 0 0;padding:4px 0 0;border-top:1px solid rgba(255,255,255,0.15)}
#nav li ul.tabs li:last-child a{border-bottom:none}
#nav li ul.tabs li a{display:block;padding:5px 15px;font-size:14px;font-weight:400;line-height:1;color:#999;background:none;box-shadow:none}
#nav li ul.tabs li a:hover{color:#ddd;background-color:rgba(255,255,255,0.1);border-radius:0}
#nav li ul.tabs li a:active{color:#fff;background:rgba(0,0,0,0.3)}
#nav li ul.tabs li ul li a{padding-left:28px}
#nav li:hover ul.tabs{display:block}
@media only screen and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (min--moz-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (-o-min-device-pixel-ratio: 3 2),only screen and (max-width: 959px) and (min-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (min-resolution: 1.5dppx) {
#nav li#sub-menu>a:before{background-image:url('../images/menu-arrow-right.png');-webkit-background-size:9px 16px;-moz-background-size:9px 16px;background-size:9px 16px}
}
@media only screen and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (min--moz-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (-o-min-device-pixel-ratio: 3 2),only screen and (max-width: 959px) and (min-device-pixel-ratio: 1.5),only screen and (max-width: 959px) and (min-resolution: 1.5dppx) {
#nav li#sub-menu>a.back-link:before{background-image: url('../images/menu-arrow-left.png');-webkit-background-size:9px 16px;-moz-background-size:9px 16px;background-size:9px 16px}
}
#header .envelope-icon-nav{right: 14px;float: right;margin-top: -36px;position: relative;}
#header .envelope-icon-nav img{width: 28px;height: 28px;}

#header .submenu-icon-open{right: 16px;float: right;margin-top: -36px;position: relative; font-size: 20px;color: #2365a6;font-weight: normal;}

@media screen and (max-width: 1024px) {
#nav{margin-right:180px}
}

@media only screen and (max-width: 959px){
  #nav.nav-open {height: auto;/* overflow: visible; */}
   #nav{float: left;width: 100%;margin: 0 0 10px 0;text-align: left;height: 0;overflow: hidden;}
}
/* Small devices (tablets, 860 and below) */
@media screen and (max-width: 991px) {
   #logo{ float: none !important;padding-right: 0 !important;}
   #logo a,#logo span{display:block;height:40px;margin:2px auto 0}
   .toggle-nav-close{background-image:url('../images/menu-close-icon.png') !important; -webkit-background-size: 19px 14px;-moz-background-size: 19px 14px;background-size: 19px 14px;}
   .toggle-nav{position:absolute;top:0;left:0;display:block;width:48px;height:40px;text-indent:-9999px;background-repeat:no-repeat;background-position:15px 50%;background-image:url('../images/menu.png');/*opacity:.5*/}
   #nav{float:left;width:100%;margin:0 0 10px;text-align:left;height:0;overflow:hidden}
   #nav.nav-open{height:auto;overflow:visible}
   #nav li{position:relative;float:none;margin-right:0;text-align:left;font-size:13px;background:#fff}
   #nav li.separate a{border-top:2px solid #555}
   #nav li li{display:none;font-size:13px;background:none}
   #nav li#sub-menu>a:before{content:'';position:absolute;top:20px;right:15px;width:9px;height:16px;background-image:url('../images/menu-arrow-right.png')}
   #nav li#sub-menu>a.back-link:before{background-image:url('../images/menu-arrow-left.png');left:15px;right:none}
   #nav li#sub-menu>a,#nav li#sub-menu:hover>a{opacity:1}
	#nav li#sub-menu>a span,#nav li#sub-menu:hover>a span{display:inline;padding-left:0;text-indent:0;background:none}
	#nav li a{height:auto;padding: 10px 15px;font-size:14px;line-height:1}
	#nav li a:hover{color:#000}
	#nav li a.back-link{font-weight:500;text-align:left;color:#000}
	#nav li ul.tabs{display:block;position:static;float:none;width:100%;left:0;margin:0;padding:0;background:none;border-radius:0;box-shadow:none}
	#nav li ul.tabs li a{padding:15px;font-size:14px;font-weight:400;line-height:1;text-transform:none;color:#999}
	#nav li ul.tabs li a:hover{color:#ddd;background:none}
	#nav li ul.tabs li.separate{margin:0;padding:0;border-top:none}
	#nav>li.nav-expanded ul.tabs li{display:block}
	#nav li a img{display:inline-block;width:26px;height:26px;margin:0 15px 0 -3px}
	#nav li a.back-link img{margin:0 15px 0 25px}

	#header .dropdown-menu{background-color: #c01b60 !important;border: 1px solid rgb(192, 27, 96) !important;box-shadow:none !important;width: 100%;border-radius: 0px !important;margin: 0px !important;}
    #header .dropdown-menu > li > a {color: #f762a1 !important;font-size: 14px;font-family: 'futura_md_btmedium';padding: 10px 12px !important;}
}