/*
1. Home page
	1.1 Header
	1.2 Banner slider
	1.3 About section
	1.4 Our solutions
	1.5 Map section
	1.6 Client logo
	1.7 Success story
	1.8 OUR Directors
	1.9 Contact us
	1.10 Feedback location

2. Footer

*/


@media screen and (min-width:1153px) and (max-width:1280px) {
	.font-size-50 {
		font-size: 40px !important;
	}
	.font-size-80 {
		font-size: 70px !important;
	}


	/*Header*/

	header .counter-wrapper {
		width: 80%;
	}
	header .menu .navbar-nav > li > a {
		font-size: 16px;
	}
	section .sun-menu ul.nav li a {
		font-size: 12px;
		padding: 15px;
	}
	.counter-wrapper .counter-details .slick-slide span {
		width: 68%;
		font-size: 30px;
	}
	.counter-wrapper .counter-details .slick-slide h1 {
		font-size: 400px !important;
		position: absolute;
		opacity: 0.08;
		width: 100%;
		line-height: 315px;
	}
	section .equity .img-para {
		/*padding: 27% 0;*/
		position: absolute;
		width: 70%;
	}
	.font-size-100 {
		font-size: 80px !important;
	}

	/* Client logo */
	section .client-logo ul li a,
	section .client-logo .nav-tabs > li > a:hover {
		padding: 13px 50px 13px 50px;
	}
	section .client-logo .nav-tabs > li.active > a, 
	section .client-logo .nav-tabs > li.active > a:hover, 
	section .client-logo .nav-tabs > li.active > a:focus {
		padding: 10px 40px;
	}


	/* Our solutions */
	.wrapper .nav-tabs.solutions-tabs {
		width: 85%;
	}
	section .solutions-tabs.nav-tabs > li > a {
		padding: 0px 98px;
	}
	.wrapper .solutions-tabs + .tab-content {
		padding: 20px 0;
		padding-bottom: 20px;
	}
	.slideshow-container {
		max-width: 80%;
	}
  .tab-content .img-container img {
    width: 70%;
  }

  .numbertext {
    right: 14%;
  }

  .text .font-size-60 {
    font-size: 57px !important;
  }

	/* Footer social icons css */
	footer .list-inline > li {
		padding-right: 17%;
		padding-left: 0;
	}	
}


@media screen and (min-width:1281px) and (max-width:1440px) {

	.wrapper {
		width: 95%;
		max-width: 1366px;
	}
	header .menu .navbar-nav > li > a {
		font-size: 16px;
	}
	section .sun-menu ul.nav li a {
		font-size: 12px;
	}
	section .equity .img-para {
		/*padding: 27% 0;*/
		position: absolute;
		width: 75%;
	}

	/* Our solutions */
	.wrapper .nav-tabs.solutions-tabs {
		width: 85%;
	}
	.slideshow-container {
		max-width: 80%;
	}
  .tab-content .img-container img {
    width: 70%;
  }
	.numbertext {
		bottom: 20px;
    right: 13%;
	}

	/* Client logo */
	section .client-logo .nav-tabs > li.active > a,
	section .client-logo ul li a, 
	section .client-logo .nav-tabs > li.active > a:hover, 
	section .client-logo .nav-tabs > li.active > a:focus {
		padding: 18px 70px;
	}
	section .client-logo .nav-tabs > li > a:hover {
		padding: 18px 70px;
	}
	.contact .text-banner + small {
		position: absolute;
		transform: translate(50%,170px);
		-webkit-transform: translate(50%,170px);
		-moz-transform: translate(50%,170px);
		-o-transform: translate(50%,170px);
	}
	section .about .img-container {
		padding: 200px 0 360px 0;
	}	
}

@media screen and (min-width:768px) and (max-width:1024px)  {
  .sun-menu ul.nav li a {
    padding: 15px 16px;
    font-size: 10px;
  }
  .menu .navbar-nav > li > a {
    font-size: 12px;
  }
  .bg-solutions .font-size-60 {
    font-size: 50px !important;
  }
  .bg-solutions .numbertext {
    right: 14.7%;
  }
	.banner {
    margin-top: 175px;
  }
  .text-banner p {
    line-height: 30px !important;
    text-align: center !important;
    font-size: 30px !important;
  }
  .text-banner + small {
    transform: translate(0%,0px) !important;
  }
  .contact-us .location h3 {
    margin-top: 20px !important;
  }
  .location p {
    margin-left: 20% !important;
    margin-top: -13% !important;
  }
  footer .area {
    padding-top: 30px !important;
  }
  footer .list-inline > li {
    padding-right: 10% !important;
  }
  footer h4 {
    min-height: 38px;
  }
  footer ul {
    margin-top: 0px !important;
  }
  footer p, footer ul li a {
    line-height: 30px !important;
  }
  .equity-tabs .img-container {
    width: 60% !important;
  }
  .tab-content .img-container img {
    width: 100% !important;
  }
  .equity-tabs h3 {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  .brand-logo .img-container h1 {
    font-size: 30px;
  }
  .equity-tabs.nav-tabs.nav-justified > li a {
    height: 92px;
  }
  .equity-tabs.nav-tabs.nav-justified > li a:hover {
    height: 88px;
  }
  .bg-tab-equity {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bg-banner-equity {
    height: 400px !important;
    margin-top: 42px;
  }
  .equity h3 {
    font-size: 30px !important;
  }
  .equity .img-para {
    margin-top: 35px;
  }
  .bg-tab-equity .tab-content {
    padding: 30px 30px;
  }
  .bg-tab-institutional {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .institutional-tabs.equity-tabs.nav-tabs.nav-justified > li a {
    height: auto;
  }
  .institutional-tabs.equity-tabs.nav-tabs.nav-justified > li a:hover {
    height: auto;
  }

  /*home counter*/
  .slider-nav div p {
    width: 87%;
  }

  .counter-details .slick-slide h1 {
    line-height: 500px;
  }

  /*our solution*/
  .solutions-tabs.nav-tabs > li > a {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {

  /* common */
  .m-tb-40 { 
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }

  /* Mobile Menu */
  .navbar-toggle {
    margin-right: 0px !important;
    margin-top: 20px !important;
  }
  .navbar-toggle .icon-bar {
    border: 1px solid #c11b60;
  }
  .navbar-brand-logo img {
    height: 45px;
  }
  .navbar-collapse {
    box-shadow:none !important;
  }
  .navbar-nav {
    margin-top: 0px !important;
  }
  .menu .navbar-nav > li > a {
    line-height: 18px !important;
    font-size: 16px;
  }
  .form-control.search-box, .navbar-form .form-control.search-box {
    float: left; 
    width: 90% !important;
    padding-left: 0px;
  }
  .navbar-form.m-t-35 { 
    margin-top: 0px !important;
    box-shadow:none !important;
  }

  /* Important sub links */
  .sun-menu ul.nav li a.remove-left {
    padding-left: 10px !important;
  }
  .sun-menu ul.nav li a { 
    padding: 10px 12px !important;
  }
  .sun-menu ul.nav li a:after { 
    background-color:transparent !important;
  }

  /* Counter silder */
  .counter-wrapper div.col-lg-2.col-md-2.col-sm-4 {
    display: none;
  }
  .bg-banner-main .counter-wrapper {
    width: 100%
  }
  .counter-wrapper .slick-slide h3 {
    margin-top: 10px !important;font-size: 26px !important;
  }
  .counter-wrapper .slick-slide h3 + span{
    font-size: 15px !important;
  }
  .counter-wrapper .counter-details .slick-slide span {
    font-size: 20px !important;
    margin-left: 0;
    width: 100%;
  }
  .counter-wrapper .counter-details .slick-slide h1 {
    font-size: 235px !important;
    line-height: 180px;
  }
  .counter-wrapper .font-size-80 {
    font-size: 40px !important;
  }
  .counter-wrapper .font-size-50 {
    font-size: 30px !important;
  }

  /* About Us Home */
  .about h2 {
    margin-left: 0px !important;
  }
  .about img {
    margin-top: 20px;
  }
  .about p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .readmore {
    font-size: 14px !important;
  }

  /* Our solutions Home */
  .nav-tabs.solutions-tabs {
    padding-top: 20px !important;
  }
  .nav-tabs.solutions-tabs.nav-justified > li {
    float: left;
    margin-right: 8px;
  }
  .nav-tabs.solutions-tabs.nav-justified > li > a {
    font-size: 15px;
    padding: 0;
  }
  .solutions-tabs.nav-tabs > li > a {
    padding:0;
  }
  .bg-solutions {
    height: 825px;
  }
  .bg-solutions .tab-content .img-container,.tab-content .img-container img {
    width: 80% !important;
    display: block;
    margin: 0 auto;
  }
  .solutions-tabs + .tab-content {
    padding: 20px 0 !important;
  }
  .bg-solutions .tab-content .text {
    width: 100%;
    text-align: justify;
  }
    
  /* Happy Customers */
  .bg-map {
    background-size: 380% 100% !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  .bg-map .row {
    margin:0;
  }
  .map-area {
    margin-top: 0px !important;
    margin-bottom: 0 !important;
  }
  .map-area .font-size-96 {
    font-size: 30px !important;
  }
  .map-area .first-block span {
    margin-left: 0px;
    text-align: center;
    display: block;
  }
  .map-area .color-pink-bold {
    margin-bottom: 20px;
    display: block;
  }
  .map-area .map-area-para p {
    margin-top: 0px !important;
    line-height: 26px !important;
    font-size: 14px !important;
  }

  /* Client Content */
  .client-content .tab-content {
    padding: 0px;
  }
  .client-content .row div {
    height: 150px;
    line-height: 20px;
  }

  /* Success Story */
  .bg-story h1 {
    padding-bottom: 0px;
  }
  .success-story-wrapper .slider-for__item p {
    width: 100% !important;
  }
  .slick-slide h3 {
    margin-top: 10px !important;
    font-size: 16px !important;
  }
  .slick-slide h3 span {
    font-size: 15px !important;
  }

  /* Our Directors */
  .codes { 
    margin-left: 0% !important;
  }
  .codes p {
    margin-top: 5% !important;
    margin-left: 0 !important;
    position: relative !important;
  }
  #myCarousel .carousel-indicators {
    left: 71.5% !important;
    bottom: 0px !important;
  }
  .codes p span:first-child:after {
    padding-bottom: 25px !important;
    margin-bottom: 15px !important;
  }

  /* Feedback */
  .feedback-location h3 {
    font-size: 18px;
    margin-top: 20px;
  }
  .feedback-location form, .contact-us form {
    margin-top: 20px;
    border-right: none !important;
  }
  .location p {
    margin-left: 0% !important;
    margin-top: 0% !important;
    line-height: 28px;
    font-size: 16px !important;
  }
  .location ul li a {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .feedback-location .bg-light-gray {
    margin-bottom: 0px;
  }
  .feedback-location .icon-Right-arrow {
    display: none !important;
  }

  /* Footer */
  footer img {
    margin:0 auto;
  }
  footer .area {
    padding-top: 30px !important;
  }
  footer ul {
    margin-top: 10px !important;
  }
  footer p, footer ul li a {
    line-height: 28px !important;
  }
  footer .list-inline > li {
    padding-right: 16% !important;
  }
  .copy-rights {
    width: 100% !important;
    font-size: 14px !important;
    padding-bottom: 0px !important;
  }
  footer .copy-rights .list-inline > li {
    padding-right: 0% !important;
  }

  /* Sub Pages */
  .bg-banner-equity {
    height: 540px;
    margin-top: 42px;
  }
  .bg-banner-equity .img-container img {
    max-height: 300px;
    margin-top: 10px;
  }
  .bg-banner-equity .inner-wrapper, .inner-wrapper-M {
    display: inline !important;
    width: 100%;
  }
  .equity .img-container, .equity .img-para, .equity .img-para p {
    width: 100%;
    text-align: center !important;
    font-size: 14px !important;
    line-height: 22px !important;
    position: relative !important;
    margin-top: 10px;
  }
  .bg-banner-equity h3 {
    font-size: 22px !important;
    margin: 0;
    line-height: 26px;
  }
  .equity .inner-wrapper-M .img-para {
    position: relative !important;
    width: 100% !important;
    text-align: center;
  }
  .equity-tabs.nav-tabs.nav-justified > li a {
    font-size: 18px;
  }
  .equity-tabs {
    padding:10px 0 !important;
  }
  .equity-tabs h3 {
    font-size: 18px;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
  .equity-tabs .img-container + p{
    margin-bottom: 30px; 
    margin-top: 0px !important;
  }
  .brand-logo .col-lg-8 {
    width: 100% !important;
  }
  .dummy-img-container {
    display: none !important;
  }
  .bg-tab-equity {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }
  .bg-gray-globally {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .bg-gray-globally h3 {
    font-size: 18px !important;
  }
  .mergers-acquitions-txt {
    margin-top: 30px;
  }

  /* Contact Us */
  .contact-inner-bg {
    margin-top: 42px;
  }
  .banner {
    margin-top: 230px;
  }
  .text-banner p {
    line-height: 30px !important;
    font-size: 18px !important;
    text-align: center;
  }
  .text-banner + small {
    transform: translate(0%, 0px) !important;
    font-size: 14px !important;
    text-align: center;
  }
  .contact-us h3 {
    font-size: 18px;
  }
  .contact-us .location h3 {
    margin-top: 20px !important;
  }
  .contact-us .icon-Right-arrow {
    display: none !important;
  }
}


@media screen and (max-width: 600px) {

	body { 
    margin: 0; 
  }

  .p-tb-60 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  /*About us*/
  .our-vision .main-heading {
    margin-bottom: 28px !important;
  }
  .our-vision ul {
    padding: 0;
  }
  .our-vision ul li {
    margin-bottom: 0px;
  }
  .accordion { 
    height: auto; 
  }
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    height: auto;
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 20px;
  }
  .accordion li:hover img { 
    width: 10%;
  }
  .mt-li {
    top: 0px;
  }

  /*contact us css*/
  .contact-inner-bg {
    margin-top: 0px;
  }

}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 20px !important;
  }

  .nav-tabs.solutions-tabs.nav-justified > li {
    float: left;
    margin-right: 55px;
  }
  .banner {
    margin-top: 215px;
  }

  /*about us css*/
  .container-fluid.bg-banner-about {
    height: auto;
  }

  .container-fluid.about .img-container {
    padding: 30px 0 60px 0;
  }

  .company-overview.p-t-80 {
    padding-top: 30px;
  }

  .company-overview .container-fluid .main-heading {
    margin-bottom: 30px !important;
  }

  .company-overview .p-tb-60,
  .company-overview .p-t-120 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .company-overview .accordion {
    margin: 0px auto;
  }

  /*equity-capital css*/
  .bg-banner-equity {
    height: auto;
    margin-top: 0px;
  }

  .equity .img-container,
  .equity .inner-wrapper-M .img-container {
    width: 65%;
    margin: 0 auto;
    display: block;
  }

  .bg-brand {
    background: url(../images/equity/bg-brand.png) center;
    background-size: 200% 100%;
  }

  .bg-acquitions {
    background: url(../images/acquitions/bg-acquitions.png) center;
    background-size: 200% 100%;
  }

  .bg-structured {
    background: url(../images/structured/bg-structured.png) center;
    background-size: 200% 100%;
  }

  .bg-private {
    background: url(../images/private/bg-private.png) center;
    background-size: 200% 100%;
  }

  .bg-special {
    background: url(../images/special/bg-special.png) center;
    background-size: 200% 100%;
  }

  .equity .img-para p {
    width: 98% !important;
  }

  .equity-tabs.nav-tabs.nav-justified > li a {
    margin-bottom: 0;
  }

  /*Our solutions*/

  .numbertext {
    bottom: -62%;
  }

  .arrow {
    width: 100%;
    bottom: -60%;
  }

  .readmore {
    z-index: 9;
  }

  .bg-solutions {
    height: auto;
  }

  /*client logo css*/

  .client-logo .nav-tabs > li > a:hover {
    padding: 23px 50px;
  }

  /*location css*/

  .location ul {
    padding: 0;
  }

  .feedback-location h3 {
    font-size: 18px;
    margin-top: 20px !important;
  }

  /*footer css*/
  footer .font-size-22 {
    font-size: 18px !important;
  }

  footer p {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {
  .nav-tabs.solutions-tabs.nav-justified > li {
    margin-right: 32px;
  }
  .banner {
    margin-top: 220px;
  }
  .nav-tabs.solutions-tabs.nav-justified > li {
    margin-right: 32px;
  }
}

@media screen and (max-width: 360px) {
  .nav-tabs.solutions-tabs.nav-justified > li {
    margin-right: 27px;
  }
  .banner {
    margin-top: 224px;
  }
  .arrow {
    width: 100%;
    bottom: -70%;
  }
  .numbertext {
    bottom: -72%;
  }
}

@media screen and (max-width: 320px) {
  .nav-tabs.solutions-tabs.nav-justified > li {
    margin-right:8px;
  }
  .banner {
    margin-top: 230px;
  }
  .client-logo ul li a,
  .client-logo .nav-tabs > li.active > a, 
  .client-logo .nav-tabs > li.active > a:hover, 
  .client-logo .nav-tabs > li.active > a:focus {
    padding: 20px 30px;
  }
  .arrow {
    width: 100%;
    bottom: -85%;
  }
  .numbertext {
    bottom: -87%;
  }
}