 /*============== Story slider css below ============== */

.bg-story .container {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
  overflow: hidden;
}


.slider-for__item {
  display: inline-block;
  height: auto;
  margin: 0 10px;
  text-align: center;
  color: white;
  font-size: 2em;
}

.slick-list {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.slider-nav-director {
  width: 100%;
  overflow: hidden;
}

.item-nav {
  width: 100px;
  height: 100px;
}

.slick-slide {
  margin-left: 0;
  margin-right: 20px;
}

.success-story-wrapper .slick-slider {
    margin-bottom: 50px;
}

/* ============== Story slider css above ============== */

/* ============== OUR SOLUTIONS css below ============== */

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}*/

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  cursor: pointer;
}

/* Caption text */
.text {
  /*position: absolute;*/
  width: 50%;
  top: 10%;
  display: inline-block;
  text-align: right;
  color: #fff;
  float: right;
}

.text h1 {
  text-transform: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 40px;
  padding: 0;
  margin: -4px 4px;
  position: absolute;
  bottom: 22px;
  right: 11%;
  font-family: 'futura_md_btmedium';
}

.numbertext span {
  font-size: 20px;
  margin-left: -15px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/* ============== OUR SOLUTIONS slider css above ============== */

@media screen and (max-width: 767px) {
.arrow {bottom:-65% ;width: 100% ;}
.arrow img{width: 50px;}
.text{text-align: center;}
.text h1{font-size: 18px !important;}
.text span {margin-top: 0px !important;font-size: 14px !important;line-height: 22px !important;}
.numbertext{font-size: 30px;float: right;right: 17%;bottom: -67%;}
.numbertext span{font-size: 16px;margin-left: -10px;}
}

@media screen and (max-width: 320px) {
.arrow {bottom:-90% ;width: 100% ;}
.arrow img{width: 50px;}
.text{text-align: center;}
.text h1{font-size: 18px !important;}
.text span {margin-top: 0px !important;font-size: 14px !important;line-height: 22px !important;}
.numbertext{font-size: 30px;float: right;right: 20%;bottom: -93%;}
.numbertext span{font-size: 16px;margin-left: -10px;}
}