/*


/* Contact Us Banner */
.contact-inner-bg{
	  background: url(../images/contact/contact-inner-bg.png);
		background-size: 100% 100%;
		height: 677px;
}
.banner-text-bg{
	margin-top: 200px;
}
.banner-text-bg p{
	bottom: 0px;
  position: absolute;
}

1. Home page
	1.1 Header
	1.2 Banner slider
	1.3 About section
	1.4 Our solutions
	1.5 Map section - Same Count area use in About us page
	1.6 Client logo - Same use in About us page
	1.7 Success story
	1.8 OUR Directors
	1.9 Contact us
	1.10 Feedback location - Same use in Contact us page

2. Equity page
	2.1 Banner area 
	2.2 Tabs area
	2.3 Brand area

3. Institutional Page 
	3.1 Banner area
	3.2 Tabs area - Same use in Equity us page
	3.3 Globally area

4. Mergers page
	4.1 Banner area
	4.2 Tabs area - Same use in Equity us page
	4.3 Brand acquitions area

5. Structured page
	5.1 Banner area
	5.2 Tabs area - Same use in Equity us page
	5.3 Brand structured area

6. Private Equity page
	6.1 Banner area
	6.2 Tabs area - Same use in Equity us page
	6.3 Brand private area

7. Special Equity page
	7.1 Banner area
	7.2 Tabs area - Same use in Equity us page
	7.3 Brand private area

8. About us page 
	8.1 About us Banner
	8.2 Company values
	8.3 Vision Mision
	8.4 Count area - Same Map section Same use in Home page - only background here
	8.5 Client logo - Same use in Home page

9. Contact us page
	9.1 Contact us Banner
	9.2 Contact wrapper
	9.3 Location area

10. Career page 
	10.1 Career us Banner - Same use in Media Center page
	10.2 Our team
	10.3 Working capital
	10.4 Love here

11. Media Center page
	11.1 Media center Banner
	11.2 News & Events
	11.3 Big video

12. Footer



*/

.readmore, .link {
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 8px;
}

.readmore:after {
	content: '\00bb';
	position: relative;
	opacity: 0;
	top: 0;
	right: -15px;
	transition: 0.5s;
	font-size: 28px;
}

.readmore:hover {	
	transition: 0.5s;
	padding-right: 25px;
	text-decoration: none;
}

.readmore:hover:after {
	opacity: 1;
	right: -5px;
}

.img-container img {
	width: 100%;
}

/* ================================================ Home page - Header CSS below ================================================ */

header .navbar {
	margin-bottom: 0px;
}

.navbar-brand-logo {
	float: left;
	height: auto;
	padding: 15px 0px;
	/*font-size: 18px;
	line-height: 20px;*/
}

.menu .navbar-nav > li > a {
	line-height: 75px;
	padding-bottom: 0px;
	font-size: 18px;
	text-transform: uppercase;
	color: #b8b8b8;
	font-family: 'futura_md_btmedium';
}

.menu .navbar-nav > li > a.active, 
.nav > li > a:focus,
.nav > li > a:hover {
	color: #ac2861;
	background-color: transparent !important;
}

/*.menu  {
    color: #ac2861;
    text-decoration: none;
    background-color: transparent !important;
    }*/

.navbar-form.m-t-35 {
	margin-top: 35px;
}

.form-control.search-box, .navbar-form .form-control.search-box {
	width: 120px;
	border: 0px;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	box-shadow: none;
}

.btn-default.search-icon {

}

    /*Home page - sub menu*/

    .sun-menu ul li a {
    	color: #f762a1;
    	font-size: 14px;
    	font-family: 'futura_md_btmedium';
    }

    .sun-menu ul.nav li a:hover, .sun-menu ul.nav li a:focus {
    	color: #fff;
    	background-color: transparent !important;
    }

    .sun-menu ul.nav li a:after {
    	content: "";
    	position: absolute;
    	background-color: #f762a1;
    	width: 2px;
    	height: 20px;
    	right: 0;
    }

    .sun-menu ul.nav li a {
    	padding: 15px 20px;
    }

    .sun-menu ul.nav li a.active  {
    	color: #fff;
    }

    .sun-menu ul.nav li a.remove-left {
    	padding-left: 0px;
    }

    .sun-menu ul.nav li a.remove:after {
    	content: "";
    	background-color: transparent;
    }

    
    /*Home page - Banner slider*/

    .bg-banner-main {
    	background: url(../images/home-images/bg-banner.png);
    	background-size: 100% 100%;
    	height: auto;
    }

    .counter-wrapper {
    	width: 80%;
    	margin: 0 auto;
    }

    .slider-nav div.slick-cloned.slick-active p {
    	background: -webkit-linear-gradient(#ae275f, #fff);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	font-family: 'futura_hv_btheavy' !important;
    }

    .slider-nav .slick-active.slick-center p {
    	font-size: 200px;
    	line-height: 150px;
    	color: #fff;
    	background: #fff;
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	font-family: 'futura_hv_btheavy' !important;
    }

    .slider-nav div p {
    	width: 100%;
    	font-size: 120px; 
    	line-height: 150px;
    	margin: 10px;
    	color: #fff;
    	cursor: pointer;
    	background: -webkit-linear-gradient(#fff, #ae275f);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	font-family: 'futura_hv_btheavy' !important;
    }

    .counter-details .slick-slide h3 {
    	text-transform: capitalize;
    }

    .counter-details .slick-slide span {
    	font-size: 40px;
    	font-family: 'futura_bk_btbook' !important;
    	text-transform: none;
    	margin-left: 7%;
    	width: 63%;
    }

    .counter-details .slick-slide span.italic {
    	opacity: 0.2;
    	margin-left: 40%;
    }

    .counter-details .slick-slide h1{
    	font-size: 400px !important;
    	position: absolute;
    	opacity: 0.08;
    	width: 100%;
    	line-height: 300px;
	/*font-size: 600px !important;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    line-height: 500px;*/
}


/*Home page - About section*/

.about h2 {
	margin-left: 80px;
	margin-top: 0;
}

.about p {
	line-height: 30px;
	margin-bottom: 17px;
}

/*Home page - Our solutions*/

.bg-solutions {
	background: url(../images/home-images/solution-bg.png);
	background-size: 100% 100%;
	height: auto;
}

.nav-tabs.solutions-tabs {
	width: 75%;
	margin: 0 auto;
	border-bottom: 0px;
	padding-top: 40px;
}

.nav-tabs.solutions-tabs.nav-justified > li > a {
	border-bottom: 0px;
	border-radius: 0px;
}

.solutions-tabs + .tab-content {
	padding: 20px;
	padding-bottom: 0;
}

.tab-content .img-container {
	display: inline-block;
	width: 50%;
}

.tab-content .img-container img {
	width: 50%;
	/*max-height: 620px;*/
	margin: 0 auto;
}

.solutions-tabs.nav-tabs > li > a {
	padding: 0px 135px;
	text-transform: capitalize;
	margin-right: 1px;
	border: 0px;
	color: #838383;
	font-family: 'futura_bk_btbook';
}

.solutions-tabs.nav > li > a:hover,
.solutions-tabs.nav > li > a:focus,
.solutions-tabs.nav-tabs > li.active > a,
.solutions-tabs.nav-tabs > li.active > a:hover, 
.solutions-tabs.nav-tabs > li.active > a:focus {
	background: transparent;
	border: 0px;
	color: #fff;
}

.solutions-tabs.nav-tabs > li.active > a {	
	font-family: 'futura_hv_btheavy';
}

.solutions-tabs.nav-tabs > li.active > a:after {
	content: "";
	border-bottom: 4px solid #fff;
	position: relative;
	display: block;
}

.text span {
	line-height: 30px;
	margin-top: 30px;
}

.text .readmore {
	position: relative;
	bottom: -10px;
	display: inline-block;
}

.arrow {
	position: absolute;
	right: 0;
	bottom: 25px;
	width: 50%;
	text-align: right;
}

.arrow .next {
	margin-left: 16%;
}


/*Home page - Map section*/

.bg-map {
	background: url(../images/home-images/map-bg.png);
	background-size: 100% 100%;
	height: auto;
}

.map-area {
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 65px;
	margin-bottom: 65px;
}

.map-area .font-size-96 {
	line-height: 0.8;
	margin-bottom: -3px !important;
}

.map-area .first-block span {
	/*margin-left: 10px;*/
}

.map-area .map-area-para p {
	line-height: 35px;
	color: #434343;
	margin-top: 65px;
	margin-bottom: 0;
}

/*Home page - Client logo*/

.client-logo {
	background: url(../images/home-images/logo-bg.png);
	background-size: 100% 150%;
	height: auto;
}

.client-logo .nav-tabs.nav-justified > li > a {
	/*display: flex;
	align-items: center;*/
	border-bottom: 0px;
}

.client-logo ul li a {
	color: #fff !important;
	padding: 23px 50px;	
	text-align: center;
	opacity: 0.4;
	border: 0px;
	font-size: 26px;
	line-height: 30px;
	font-family: 'futura_lt_btlight';
}

.client-logo .nav-tabs > li.active > a, 
.client-logo .nav-tabs > li.active > a:hover, 
.client-logo .nav-tabs > li.active > a:focus {
	color: #0e0e0e !important;
	opacity: 1;
	font-family: 'futura_md_btmedium';
	background: transparent;
	border-top: 0px;
	border-right: 0px;	
	border-left: 0px;
	border-bottom: 0px;
	border-radius: 0px;
	padding: 20px 50px;
}

/*.client-logo .nav-tabs > li.active > a:after {
	content: "";
	border-bottom: 4px solid #0e0e0e;
	position: relative;
	display: block;
}*/

.client-logo .nav-tabs > li.active {
	border-bottom: 4px solid #0e0e0e;
    position: relative;
    bottom: 0;
}

.client-logo .nav-tabs > li > a:hover {
	color: #fff !important;
	border: 0px;
	opacity: 1;
	padding: 10px 78px;
	background: transparent;
	text-decoration: none;
}

.client-content .row div {
	height: 187px;	
	line-height: 124px;
}

.client-content .row:nth-child(2) {
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.client-content .row div:nth-child(2) {
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
}


/*Home page - Success story*/

.bg-story {
	background: url(../images/story/bg-story.png);
	background-size: 100% 100%;
	height: auto;
}

.success-story-wrapper {
	width: 70%;
	margin: 0 auto;
}

.story-codes {
    background: url(../images/story/story-codes.png) no-repeat;
    background-position: 10% 70%;
}

.slick-slide .img-border:before, .slick-slide .img-border:after {
	content: "";
	display: inline-block;
	background: #e46492;
	position: relative;
	width: 35%;
	height: 2px;
	margin-top: 1.4%;
}

.img-border img {
	box-shadow: 0 8px 16px 0 #657698, 0 6px 20px 0 #657698;
	-moz-box-shadow: 0 8px 16px 0 #657698, 0 6px 20px 0 #657698;
	-webkit-box-shadow: 0 8px 16px 0 #657698, 0 6px 20px 0 #657698;
	background: #fff;
	padding: 5px;
	margin: 0 40px;
}

.slick-track .item-nav {
	height: auto;
}

.slider-nav-story.slick-slider {
	margin: 23px 0;
}

.item-nav.slick-slide {
	margin-left: 10px;
	margin-right: 10px;
}

.success-logo .item-nav.slick-slide {
	margin-left: 50px;
	margin-right: 50px;
}

.success-story-wrapper .slider-for__item p {
	width: 60%;
	margin: 0 auto;
	color: #111111;
}

.item-nav.slick-slide img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.item-nav.slick-slide.slick-center img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.slick-slide h3 {
	font-size: 25px;
	font-family: 'futura_hv_btheavy' !important;
	text-transform: uppercase;
	margin-top: 50px !important;
}

.slick-slide h3 span {
	font-size: 18px;
	font-family: 'futura_bk_btbook' !important;
	text-transform: uppercase;
	margin-top: 8px;
	color: #969595;
	text-transform: capitalize;
}

.slick-slide span {
	font-size: 16px;
	font-family: 'futura_bk_btbook' !important;
	text-transform: uppercase;
}

.slider-nav-story .slick-dots {
	bottom: 108px;
}

.slider-nav-story .slick-dots li button:before {
	font-size: 14px;
	color: #818181;
}

.slider-nav-story .slick-dots li.slick-active button:before {    
	color: #af275f;
	opacity: 1;
}


/*Home page - OUR Directors*/

.current-video {
	position: relative;
	padding-bottom: 23.25%;
	padding-top: 0px;
	margin: 1% 0 1% 1%;
	height: 400px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border: solid black 1px;
	border: 10px solid #fff;
	background: #fff;
	-webkit-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.55);
	box-shadow: 2px 2px 18px 0px rgba(0,0,0,0.55);
}

.current-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.codes {
	background: url(../images/directors/codes.png) no-repeat;
	background-size: 40% 85%;
	height: 190px;
	margin-left: 5%;
	/*display: flex;
	align-items: flex-end;*/
}

.codes p {
	margin-top: 15%;
	margin-left: 3%;
	position: absolute;
}

.codes p span:first-child:after {
	content: "";
	position: relative;
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 70px;
	margin-bottom: 35px;
}

.codes p span:nth-child(2) {
	font-family: 'futura_hv_btheavy';
}

.codes p span:last-child {
	font-size: 16px;
	color: #b2b2b2;
	font-family: 'futura_bk_btbook';
}

#myCarousel .carousel-indicators .active {
	width: 18px;
	height: 18px;
	margin: 0;
	margin: 0 2%;
	border: 0px;
	background-color: #af2960;
}

#myCarousel .carousel-indicators li {
	width: 12px;
	height: 12px;
	margin: 0 2%;
	border: 0px;
	background-color: #818181;
}

#myCarousel .carousel-indicators {
	width: 40%;
	left: 87.5%;
	bottom: 20px;
	display: flex;
	align-items: center;
}


/*Home page - Contact us*/

.contact-bg {
	/*background: #af275f url(../images/contact/contact-bg.png) no-repeat right top;
	background-size: 40% 70%;*/
	background: url(../images/contact/contact-bg.png);
	background-size: 100% 100%;
	height: auto;    
}

.contact-bg p {
	padding-top: 25%;
}

/*Home page - Feedback location*/

.feedback-location {
	max-width: 1172px;
	margin: 0 auto;
	box-shadow: 0px 4px 10px 4px #ccc;
	--mozbox-shadow: 0px 4px 10px 4px #ccc;
	-webkit-box-shadow: 0px 4px 10px 4px #ccc;
}

.location h3 {
	margin-top: 20px !important;
}

.feedback-location .bg-light-gray {
	margin-top: -13%;
	padding: 20px;
}

.feedback-location form, .contact-us form {
	border-right: 2px solid #c4c3c3;
	padding-right: 7%;
}

.feedback-location .form-control, .contact-us .form-control {
	background: transparent;
	border: 2px solid #d8d8d8;
	box-shadow: none;
	border-radius: 0;
	resize: none;
	line-height: 35px;
	font-family: 'futura_lt_btlight_italic';
}

.feedback-location form a {
	color: #abaaaa;
}

/*Home page - Feedback location*/

textarea.form-control::-webkit-input-placeholder,
.feedback-location input.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color:    #575757;
	opacity: 0.5;
}
textarea.form-control:-moz-placeholder,
.feedback-location input.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #575757;
	opacity:  1;
}
textarea.form-control::-moz-placeholder,
.feedback-location input.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #575757;
	opacity:  1;
}
textarea.form-control:-ms-input-placeholder,
.feedback-location input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:    #575757;
}
textarea.form-control::-ms-input-placeholder,
.feedback-location input.form-control::-ms-input-placeholder { /* Microsoft Edge */
	color:    #575757;
}

.location p {
	/*background: url(../images/arrow.png) no-repeat left;*/
	margin-left: 12%;
	margin-top: -7%;
	/*transform: translate(12%,-21%);*/
}

.location p span {
	line-height: 22px;
}

.location ul {
	list-style: none;
	font-size: 18px;
	font-family: 'futura_md_btmedium';
}

.location ul li a {
	color: #abaaaa;
	line-height: 35px;
}






/* ================================================ Institutional page CSS below ================================================ */

/* Equity page - Banner area */

.bg-banner-equity {
	background: url(../images/equity/bg-banner.png);
	background-size: 100% 100%;
	height: auto;
}

.inner-wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 10px 0;
}

.equity .img-container {
	width: 40%;
	display: inline-block;
}

.equity .img-para {
	/*padding: 22% 0;*/
	position: absolute;
	width: 70%;
}

.equity .img-para p{
	width: 45%;
	font-weight: 600;
	/*position: absolute;
	bottom: 3%;
	right: -3%;*/
}

.equity .img-para p span{
	margin-top: 10px;
}



/* Equity page - Tabs area*/

.equity-tabs.nav > li > a {
	/*padding: 10px 120px;*/
	text-transform: uppercase;
	margin-right: 1px;
	border: 0px; 
	color: #c9c0c7;
}

.equity-tabs.nav-tabs > li.active > a, 
.equity-tabs.nav-tabs > li.active > a:hover, 
.equity-tabs.nav-tabs > li.active > a:focus,
.equity-tabs.nav > li > a:hover, 
.equity-tabs.nav > li > a:focus,
.equity-tabs.nav-tabs.nav-justified > li.active > a,
.equity-tabs.nav-tabs.nav-justified > li:hover {
	color: #0b579f;
	border: 0px;
	border-bottom: 4px solid #0b579f;
	background: transparent;
}

.equity-tabs.nav-tabs.nav-justified > li a {
    border-bottom: 4px solid #ddd;
    border-radius: 0;
}

.equity-tabs.nav-tabs.nav-justified > li a:hover {
	border: 0px;
}

.tab-content {
	padding: 60px 30px;
}

.bg-tab-equity {
	background: url(../images/equity/tab-bg.png) no-repeat;
	background-size: 40% 100%;
	height: auto;
}

.equity-tabs .img-container {
	width: 30%;
	margin: 0 auto 10%;
	/*-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);*/
}

/*.equity-tabs .img-container:hover {
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
    }*/

    .equity-tabs .img-container + p {
    	border-top: 4px solid #0b579f;
    	padding-top: 20px;
    	margin-top: 20px;
    }


    /* Equity page - Brand area */

    .bg-brand {
    	background: url(../images/equity/bg-brand.png);
    	background-size: 100% 100%;
    	height: auto;
    }

    .brand-logo .col-lg-8 {
    	width: 80%;
    }

    .brand-logo .img-container {
	/*width: 263px;
	height: 200px;
	width: 351px;*/
	width: 100%;
	height: 250px;
	margin: 0 auto;
	display: flex;
	align-items: center;	
}

.brand-logo .img-container h1 {
	padding: 0px 30% 0 0;
	text-transform: none;
	text-shadow: 2px 2px 20px #000000;
}

.brand-logo .bg-layer.black-layer {	
	background: rgba(0, 0, 0, 0.15);
}

.brand-logo .bg-layer.white-layer {	
	background: rgba(255, 255, 255, 0.42);
}

.brand-logo .img-container.bg-layer:hover {
	background: rgba(174, 39, 95, 0.61);	
	cursor: pointer;
}

.brand-logo .img-container img {
	width: 45%;
	margin: 0 auto;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.brand-logo .img-container.bg-layer img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}






/* ================================================ Mergers page CSS below ================================================ */

/* Mergers page - Banner area */

.bg-banner-mergers {
	background: url(../images/mergers/mergers-bg.png);
	background-size: 100% 100%;
	height: auto;
}

.inner-wrapper-M {
	width: 80%;
	margin: 0 auto;
	padding: 10px 0;
}

.equity .inner-wrapper-M .img-container {
	width: 60%;
	display: inline-block;
}

.equity .inner-wrapper-M .img-para {
	position: absolute;
	width: 75%;
}

/* Mergers page - Brand acquitions area */

.bg-acquitions {
	background: url(../images/acquitions/bg-acquitions.png);
	background-size: 100% 100%;
	height: auto;
}




/* ================================================ Structured page CSS below ================================================ */

/* Structured page - Banner area */

.bg-banner-structured {
	background: url(../images/structured/structured-bg.png);
	background-size: 100% 100%;
	height: auto;
}

/* Structured page - Brand structured area */

.bg-structured {
	background: url(../images/structured/bg-structured.png);
	background-size: 100% 100%;
	height: auto;
}




/* ================================================ Private Equity page CSS below ================================================ */

/* Private page - Banner area */

.bg-banner-private {
	background: url(../images/private/private-bg.png);
	background-size: 100% 100%;
	height: auto;
}

/* Private Equity page - Brand private area */

.bg-private {
	background: url(../images/private/bg-private.png);
	background-size: 100% 100%;
	height: auto;
}




/* ================================================ Special Equity page CSS below ================================================ */

/* Special Equity page - Banner area */

.bg-banner-special {
	background: url(../images/special/special-bg.png);
	background-size: 100% 100%;
	height: auto;
}

/* Special Equity page - Brand special area */

.bg-special {
	background: url(../images/special/bg-special.png);
	background-size: 100% 100%;
	height: auto;
}





/* ================================================ Institutional page CSS below ================================================ */

/* Institutional page - Banner area */

.bg-banner-institutional {
	background: url(../images/institutional/institutional-bg.png);
	background-size: 100% 100%;
	height: auto;
}

/* Institutional page - Globally area */

.globally .img-container {
	width: 80%;
	margin: 0 auto;
}

/* ================================================ About us Page CSS below ================================================ */

/* About us - About us Banner */
.bg-banner-about {
	background: url(../images/about/bg-banner-about.png);
	background-size: 100% 135%;
	height: 900px;
}

.about .inner-wrapper {
	padding: 0;
}

.about .img-container {
	width: 60%;
	margin: auto;
	padding: 225px 0 440px 0;
}

.company-overview{
	/*background: url(../images/institutional/institutional-bg.png);*/
	background-size: 100% 100%;
	height: auto;
}

.company-overview .main-heading{margin-bottom: 40px !important;}
.our-vision .main-heading{margin-bottom: 48px !important;}
.our-vision ul li{margin-bottom: 40px;}
.our-vision .about-vision{padding-left: 0px;}

/* About us - Vision Mision */

/*.vision-mision div .img-container {
	width: 100%;
	padding: 60px 120px;
	margin: 0 auto;
	background: #af235f;    
}

.vision-mision .vision .img-container {
	width: 100%;
	padding: 60px 120px;
	margin: 0 auto;
	background: #202020;
}

.mv-content {
	font-size: 80px;
	line-height: 60px;
	text-align: center;
	font-family: 'futura_lt_btlight';
}

.vision .mv-content {
	color: #6c6c6c;
	position: relative;
	z-index: 9;
}

.mision .mv-content {
	color: #111111;
	position: relative;
	z-index: 9;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: rgba(248, 248, 248, 0.85);
	overflow: hidden;
	width: 85%;
	margin: 18px auto;
	height:0;
	transition: .5s ease;
}

.img-container:hover .overlay {
	bottom: 22px;
	height: 85%;
}

.mission-text, .vision-text {
	width: 75%;
	font-size: 26px;
	line-height: 41px;
	position: absolute;
	overflow: hidden;
	top: 45%;
	font-family: 'futura_bk_btbook';
	transform: translate(17%, -50%);
	-ms-transform: translate(17%, -50%);
	border-left: 5px solid #af235f;
	padding-left: 3%;
}

.vision-text {
	color: #6c6c6c;
}

.mission-text {
	color: #111111;
}
*/

.year {
	text-align: left;
	font-size: 43px;
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'futura_bdcn_btbold' !important;
}

.accordion {
	width: 100%;
	max-width: 1366px;
	/* height: 350px;
	overflow: hidden; */
	margin: 50px auto;
}

.accordion ul {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin: 0;
	padding: 0;
}

.accordion ul li {
	display: table-cell;
	vertical-align: bottom;
	position: relative;
	width: 16.666%;
	height: 563px;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 500ms ease;
	color: #fff;
}

.accordion ul li div {
	display: block;
	overflow: hidden;
	width: 100%;
}

.accordion ul li div a {
	display: block;
	height: 190px;
	/*height: auto;*/
	width: 100%;
	position: relative;
	z-index: 3;
	vertical-align: bottom;
	padding: 15px 20px;
	box-sizing: border-box;
	color: #fff;
	text-decoration: none;
	font-family: Open Sans, sans-serif;
	transition: all 200ms ease;
}

.accordion ul li div a * {
	opacity: 0;
	margin: 0;
	width: 100%;
	text-overflow: ellipsis;
	position: relative;
	z-index: 5;
	/*white-space: nowrap;*/
	overflow: hidden;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}

/*.accordion ul li div a h2 {
	font-family: Montserrat, sans-serif;
	text-overflow: clip;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 2px;
	top: 160px;
}*/

.accordion ul li div a p {
	color: #fff;
	font-size: 28px;
	font-family: 'futura_bk_btbook' !important;
}

.mt-li {
	position: relative;
	top: 50px;
}

.accordion ul li:nth-child(1) { 
	background-image: url("../images/about/2001.jpg"); 
}

.accordion ul li:nth-child(2) { 
	background-image: url("../images/about/2004.jpg"); 
}

.accordion ul li:nth-child(3) { 
	background-image: url("../images/about/2007.jpg"); 
}

.accordion ul li:nth-child(4) { 
	background-image: url("../images/about/2011.jpg"); 
}

.accordion ul li:nth-child(5) { 
	background-image: url("../images/about/2014.jpg"); 
}

.accordion ul li:nth-child(6) { 
	background-image: url("../images/about/2017.jpg"); 
}

.accordion ul:hover li { 
	width: 8%; 
}

.accordion ul:hover li:hover { 
	width: 20%; 
}

.accordion ul:hover li:hover a { 
	background: rgba(0, 0, 0, 0.7); 
}

.accordion ul:hover li:hover .year { 
	background: rgba(0, 0, 0, 0.7); 
}

.accordion ul:hover li:hover a * {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* About us - Company values */

.company-value {
	background: url(../images/about/company-value-bg.png);
	background-size: 100% 100%;
	height: auto;
}

#myCarousel .nav-pills > li > a {
	border-radius:0px;
	font-size: 28px;
	color: #b7b4b4;
	font-family: 'futura_lt_btlight';
}

#myCarousel .nav-pills > li:not(:first-child) a:after {
	content:'';
	margin: 0;
	padding: 0;
	left: 0;
	width: 2px;
	height: 70%;
	background: #b7b4b4;
	display: inline-block;
	position: absolute;
}

#myCarousel .nav-pills > li.active > a {
	border-radius: 0px;
	background: transparent;
	color: #202020;
	font-family: 'futura_hv_btheavy';
}

.company-value ul{color: #000;text-shadow: none;}

.company-value .carousel-caption {
	position: relative;
	left: 0;
	right: 0;
	text-align: left;
}

.company-value #myCarousel .carousel-indicators {
	width: 50%;
	left: 50%;
	bottom: 11%;
	display: flex;
	align-items: center;
	position: absolute;
}

.carousel-inner .img-container {
	width: 90%;
	margin: 0 auto;	
	height: auto;
	margin: 40px 12px;	
}

.carousel-inner .img-container img {
	box-shadow: 5px 0px 40px 2px #a7a8b3, -5px 10px 40px 2px #a7a8b3;
	-moz-box-shadow: 5px 0px 40px 2px #a7a8b3, -5px 10px 40px 2px #a7a8b3;
	-webkit-box-shadow: 5px 0px 40px 2px #a7a8b3, -5px 10px 40px 2px #a7a8b3;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.company-value #myCarousel .carousel-indicators .active {
	background-color: #235baf;
}


/* About us - Count area */
.count-area-bg {
	background: url(../images/about/count-area-bg.png);
	background-size: 100% 100%;
	height: auto;
	padding: 14% 0;
}

.count-area-bg .map-area {
	width: 75%;
	margin-top: 0;
}

.count-area-bg .map-area h1{margin: 0;}

.count-area-bg .map-area .count{
	font-size: 102.41px;
	font-family: 'futura_bdcn_btbold' !important;
}


/* ================================================ Contact us CSS below ================================================ */

/* Contact us - Contact us Banner */

  /*.contact-inner-bg {
	background: url(../images/contact/contact-inner-bg.png);
	background-size: 100% 100%;
	height: 570px;
	}*/

	.contact-inner-bg, .media-inner-bg {
		position: relative;
	}

	.banner {    
		position: absolute;
		display: block;
		transform: translate(16%,-330px);
		width: 80%;
	}

	.text-banner p {
		line-height: 96px;
	}

	.text-banner + small {	
		position: absolute;
		transform: translate(27%,170px);
		-webkit-transform: translate(27%,170px);
		-moz-transform: translate(27%,170px);	
		-o-transform: translate(27%,170px);
	}

	/* Contact us - Contact wrapper */

	.contact-page {
		background: #f5f4f4;
	}

	/* Contact us - Location area */

	.location-area {
		box-shadow: 0px -3px 3px 0px #dbdbdb;
	}

	/* ================================================ Career page CSS below ================================================ */

	/* Career - Career Banner */

	.team-bg {
		background: url(../images/career/team-bg.png);
		background-size: 100% 100%;
		height: auto;
	}

	/* Career - Our team */

	.team-bg {
		background: url(../images/career/team-bg.png);
		background-size: 100% 100%;
		height: auto;
	}

	.team-bg .img-container {
		width: 60%;
		margin: 0 auto;
	}

	.team-bg .img-container img {
		-webkit-filter: brightness(0.30);
		filter: brightness(0.30);
		border: 0px;
		color: #9c9a9a;
	}

	.team-bg .img-container .text-para {
		color: #9c9a9a;	
		text-align: center;
		font-size: 26px;
		font-family: 'futura_hv_btheavy';
		transform: translate(0px, -130px);
		-webkit-transform: translate(0px, -130px);
		-moz-transform: translate(0px, -130px);
		-o-transform: translate(0px, -130px);
	}

	/* Career - Love here 

	.love-bg {
		background: url(../images/career/love-bg.png);
		background-size: 100% 100%;
		height: auto;
	}

	.love .col-lg-6:first-child p:after {
		content: "";
		border-bottom: 2px solid #e0e0e0;
		position: absolute;
		display: block;
		width: 40%;
		right: 0;
	}

	.love .col-lg-6:nth-child(2) p:after {
		content: "";
		border-bottom: 2px solid #e0e0e0;
		position: absolute;
		display: block;
		width: 40%;
		left: 0;
	}

	.love .col-lg-6:nth-child(odd) p:after {
		content: "";
		border-right: 1px solid #e0e0e0;
		position: absolute;
		display: block;
		height: 100%;
		bottom: 0;
		right: 0;
	}

	.love .col-lg-6:nth-child(even) p:after {
		content: "";
		border-left: 1px solid #e0e0e0;
		position: absolute;
		display: block;
		height: 100%;
		bottom: 0;
		left: 0;
	}

	.love .love-text {
		width: 75%;
		margin: 40px auto;
		font-size: 22px;
		text-align: justify;
		opacity: 0.5;
	}

	.love .love-text:hover {
		opacity: 1;
		cursor: pointer;
	} */


	/* Career Page  - Life here */

	.culture-bg {
		background: url(../images/career/love-bg.png);
		background-size: 100% 100%;
		height: auto;
	}

	.culture-bg h1 {
		margin-bottom: 40px !important;
	}

	.culture-bg .culture-text h3 {
		font-size: 28px;margin-bottom: 30px;
	}

	.culture-bg .culture-text p {
		font-size: 22px;line-height: 30px;
	}

	.life-at-axis h1 {
		margin-bottom: 66px !important;
	}

	.life-at-axis p {
		font-size: 36px;margin-bottom: 48px !important;
	}

    .life-at-axis .img-wrapper img {
		width: 100%;
		padding: 1px;
	}

	.life-img-300 img {
		height: 300px;
	}

	.life-img-600 img {
		height: 600px;
	}


	/* Career - Openings here */

    .current-openings h3 {
    	margin-bottom: 40px;
    }

    .current-openings .sub-text {
    	margin-bottom: 84px;
    	width: 70%;
    }

    .current-openings ul .sub-text {
    	margin-bottom: 52px; 
    	padding-bottom: 36px; 
    	border-bottom: 1px solid #b7b7b7;
    	width: 100%;
    }

    .current-openings ul .sub-text:last-child {
    	border-bottom: none;
    	margin-bottom: 40px;
    }

    .current-openings ul a {
    	float: right;
    	color:#0b579f;
    }

    .current-openings .viewall-btn {
    	padding: 10px 40px;
    	border: 1px solid #c2275f;
    	font-size: 19.44px;
    	text-transform: uppercase;
    	margin-bottom: 80px;
    }

    .current-openings .viewall-btn:hover {
    	text-decoration: none;
    }

	/*.Openings.panel-group .panel,
	.Openings .panel-default > .panel-heading + .panel-collapse > .panel-body {
		border: 0px
	}

	.Openings .panel-default > .panel-heading {
		background-color: transparent;
		border-color: transparent;
	}

	.Openings .panel-default > .panel-heading a, 
	.Openings .panel-default > .panel-heading a:hover, 
	.Openings .panel-default > .panel-heading a:focus {
		color: #adadad;
		font-size: 32px;
		text-decoration: none;
		font-family: 'futura_bk_btbook' !important;    
	}

	.Openings .panel-default > .panel-heading a.act {
		color: #ae275f;	
	}

	.Openings .collapse.in {
		background: #f1f1f1;
	}*/

	/* ================================================ Media center us CSS below ================================================ */

	/* Media center - News & Events */

	.media-heading {
		color: #6c6c6c;
		display: inline-block;
	}

	.media-heading p {
		color: #6c6c6c;
		border-bottom: 1px solid #acabab;
		padding-bottom: 3%;
		margin-bottom: 7%;
	}

	.slick-slide .media-heading h3,
	.media-heading h3 {
		font-size: 22px;
		color: #ac2861;
	}

	.media-heading ul li a  {
		color: #6c6c6c;
		display: flex;
		align-items: center;
	}

	.media-heading ul li a i.fa {
		font-size: 30px;
		padding: 0 15px;
	}

	.media-heading ul li a:hover, 
	.media-heading ul li a:focus {
		color: #ac2861;
		text-decoration: none;
	}

	/* Media center - Big video */

	.video-wrapper {
		height: 600px;
	}

	.video-wrapper iframe {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.video-para .media-heading p {
		color: #6c6c6c;
		border-bottom: 0px;
		padding-bottom: 1.5%;
		margin-bottom: 1%;
	}

	.video-para .media-heading ul {
		border-top: 1px solid #acabab;
		display: inline-table;
		padding-top: 2%;
	}

	/* ================================================ Footer CSS below ================================================ */

	footer .area {
		padding-top: 60px;
	}

	footer h4 {
		color: #ac2861;
		text-transform: uppercase;
		font-family: 'futura_md_btmedium';
		font-weight: 600;
		margin-top: 0;
	}

	footer div.row:first-child {
		padding-bottom: 2.3%;
		margin-bottom: 2.3%;
		border-bottom: 1px solid #020202;
	}

	footer ul {
		list-style: none;
		padding: 0;
		margin-top: 40px;
	}

	footer p, footer ul li a {
		color: #202020;
		font-size: 14px;
		line-height: 40px;
		font-family: 'futura_lt_btlight';
		font-weight: 600;
	}

	footer p {
		margin: 0;
		line-height: normal;
	}

	.fa-facebook:hover {
		color: #3B5998;
	}

	.fa-twitter:hover {
		color: #55ACEE;
	}

	.fa-google-plus:hover {
		color: #dd4b39;
	}

	.fa-linkedin:hover {
		color: #007bb5;
	}

	footer .list-inline > li {
		padding-right: 18%;
		padding-left: 0;
	}

	footer .list-inline > li .fa-2x {
		font-size: 1.5em;
	}

	footer ul li a:hover {
		color: #b91f60;
		text-decoration: none;
	}

	.subscribe-mail {
		width: 100%;
	}

	.subscribe-mail input {
		background-color: transparent;
		border: 1px solid #202020;
		padding: 0 13px;
		height: 37px;
		line-height: 37px;
		float: left;
		width: 78%;
		color: #202020;
		font-family: 'futura_lt_btlight_italic' ;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		color:    #202020;
		opacity: 0.8;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #202020;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #202020;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
		color:    #202020;
	}
	::-ms-input-placeholder { /* Microsoft Edge */
		color:    #202020;
	}

	.subscribe-mail button {
		background-color: #414141;
		border: 1px solid #414141;
		height: 37px;
		color: #f4f4f4;
		padding: 0 16px;
		font-size: 22px;
	}

	.subscribe-mail button:hover,.subscribe-mail button:focus {
		background: #b91f60;
		border: 1px solid #b91f60;
	}

	.copy-rights {
		width: 75%;
		font-size: 17px;
		color: #a4a3a3;
		margin: 0 auto;
		padding-bottom: 10px;
		border-bottom: 18px solid #b91f60;
	}

	.copy-rights ul li {
		padding: 0;
	}

	/*.copy-rights ul li:first-child:after {
		content: "|";
		padding-left: 20px;
		padding-right: 20px;
	}*/




/* Contact Us Banner */
.contact-inner-bg{
	  background: url(../images/contact/contact-inner-bg.png);
		background-size: 100% 100%;
		height: 677px;
}
.banner-text-bg{
	margin-top: 200px;
}
.banner-text-bg p{
	bottom: 0px;
  position: absolute;
}