@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('futura_bold_font-webfont.woff2') format('woff2'),
         url('futura_bold_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_md_btbold_italic';
    src: url('futura_bold_italic_font-webfont.woff2') format('woff2'),
         url('futura_bold_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('futura_heavy_font-webfont.woff2') format('woff2'),
         url('futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_lt_btlight';
    src: url('futura_light_bt-webfont.woff2') format('woff2'),
         url('futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_lt_btlight_italic';
    src: url('futura-light-italic-bt-webfont.woff2') format('woff2'),
         url('futura-light-italic-bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_md_btmedium';
    src: url('futura_medium_bt-webfont.woff2') format('woff2'),
         url('futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'futura_bk_btbook';
    src: url('futura_book_font-webfont.woff2') format('woff2'),
         url('futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?rbvyrb');
  src:  url('icomoon.eot?rbvyrb#iefix') format('embedded-opentype'),
    url('icomoon.ttf?rbvyrb') format('truetype'),
    url('icomoon.woff?rbvyrb') format('woff'),
    url('icomoon.svg?rbvyrb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 30px;
  vertical-align: sub;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Right-arrow:before {
  content: "\e900";
  color: #2365a6;
}
