@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rbvyrb');
  src:  url('fonts/icomoon.eot?rbvyrb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rbvyrb') format('truetype'),
    url('fonts/icomoon.woff?rbvyrb') format('woff'),
    url('fonts/icomoon.svg?rbvyrb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Right-arrow:before {
  content: "\e900";
  color: #fff;
}
